extends layout

block content

  script(type='text/javascript').
    function sendData() {
      Android.showToast("#{user.id}", "#{user.age}", "#{user.weight}");
    }
    sendData();
  a(href="/users/logout") 로그아웃
  br
  button(onclick="sendData()") 미세먼지 보기
  br
  a(href="/users/update") 정보수정
