extends layout

block content

  script(type='text/javascript').
    function sendData() {
      Android.showToast("#{user.id}", "#{user.age}", "#{user.weight}");
    }
    sendData();
  a(href="/users/logout")
    button 로그아웃
  button(onclick="sendData()") 미세먼지 보기
  a(href="/users/update")
    button 정보수정
