extends layout

block content
  form(action="/users/join", method="post", class="modal-content")
    div(class="container")
      label(for="id")
        b ID
      input(type="text", name="id", placeholder="Enter User ID")
      label(for="password")
        b Password
      input(type="password", name="pw", placeholder="Enter Password")
      label
        b Confirm Password
      input(type="password", name="pwconfirm", placeholder="reEnter Password")
      label(for="age")
        b age
      input(type="number", name="age", placeholder="Enter your age")
      label(for="weight")
        b weight
      input(type="number", name="weight" placeholder="Enter your weight")
      button(type="submit") 회원가입
