extends layout

block content
  form(action="/users/join", method="post")
    div
      label(for="id") ID
      input(type="text", name="id")
    div
      label(for="password") Password
      input(type="password", name="pw")
    div
      label(for="age") age
      input(type="number", name="age")
    div
      label(for="weight") weight
      input(type="number", name="weight")
    input(type="submit", value="submit")
