doctype html
html
  head
    style(type="text/css").
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #00ffff;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      /* Full-width input fields */
      input[type=text], input[type=password], input[type=number] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      /* Set a style for all buttons */
      button {
        background-color: #00bfff;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      button:hover {
        opacity: 0.8;
      }
      .container {
        padding: 16px;
      }
      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }
  body
    img.image(src="/images/smile.png")
    block content
