extends layout

block content
  form(action="/users/login", method="post", class="modal-content")
    div(class="container")
      label(for="id")
        b ID
      input(type="text", name="id", placeholder="Enter User ID")
      label(for="password")
        b Password
      input(type="password", name="pw", placeholder="Enter Password")
      button(type="submit") Login
  a(href="/users/joinpage")
    button 회원가입
